

.res1{
    color: blue;
}
.res2{
    color: #08ae08;
}
dt{
    font-size: larger;
    color: #d21818;
    margin-left: 1rem;
    
}
code>pre{
    background-color: #effdee;
    border: 1px dotted black;
    border-radius: 1rem;
    padding: 1rem;
    overflow-x: scroll;
    line-height: 1.4em;
}
.pascal .com{
    color: #d01c1c;
}
.oculto + div{
    height: 2rem;
}
.oculto::after{
    height: 10rem;
    margin: 5rem;
}