#vista1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    background-color: lightgray ;
}

#vista1 #contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;   
    width: 90%;
}

#vista1 #contenido .fila{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#vista1 #contenido .cont {
    display: flex;
    flex-direction: row
}
#vista1 #contenido .cont .controles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
    /*! height: 80%; */  
    /*! margin-left: 0; */
}
#vista1 #contenido .cont .controles .controlSubir, 
#vista1 #contenido .cont .controles .controlBajar{
    
    /*! margin-left: 0; */
    background-color: lime;
    margin-left: 0;
    padding: 0;
}
#vista1 #contenido .cont .controles .controlSubir p, 
#vista1 #contenido .cont .controles .controlBajar p{
    margin: 0;
}
#vista1 #contenido .cont_dato{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 10rem;
    margin: 20px;
    padding: 15px;
    border-radius: 1rem;
    background-color: darkblue;
    color: white;
}

#vista1 #contenido .cont_dato .valor{
    padding: 5px;
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}
#vista1 #contenido .cont_dato .unidad{
    font-size: 2rem;
}
#vista1 #contenido .cont_dato .extremo{
    margin: 2px;
    color: lime;
}
#vista1 #contenido .alerta{
    background-color: yellow;
    color: black;
    animation: alertar 2s linear infinite;
    margin: 5px;
}

#vista1 #contenido .alerta .valor{
    color: red;
}
#vista1 #contenido .alerta .extremo{
    color: black;
}

@keyframes alertar{
    0% {
        border: 15px solid transparent;
    }
    50% {
        border: 15px solid red;
    }
    100%{
       border: 15px solid transparent; 
    }
}
#vista1 .oculto{
    display: none;
}