body{
  margin: 10vh 15vw 20vh 5vw;
  font-size: 100%;
}
h1, h2{
  text-align: center;
  text-shadow: 3px 2px #EEEEFF;
}
code pre{
  background-color: #FAFAFF;
  border: 2px solid blue;
  border-radius: 1rem;
  width: 55rem;
  margin-left: 10%;
  line-height: 1.8;
  font-size: 1rem;
  padding: 1rem;
}
#tabla1{
  margin-left: 10%;
  line-height: 1.8;
  font-size: 1.2rem;  
}
.tabla td{
  padding: 0rem 1rem;
}
.princ{
  background-color: #FAFAFF;
  border: 2px solid blue;
  border-radius: 1rem;
  width: 55rem;
  margin-left: 10%;
  padding: 0.5rem;
}
.aux{
  color: #009;
  margin-left: 2rem;
}
.aux2{
  color: #009;
  padding: 0 0.5rem;
}
.resultado{
  background-color: #FAFAFF;
  border: 6px solid blue;
  border-radius: 1rem;
  width: 55rem;
  margin-left: 10%;
  padding: 1rem;
}
